name: OpenHarmony gitee repos mirror periodic job
on:
  schedule:
    # Runs at 20:00 UTC (4:00 AM Beijing) every day
    - cron:  '35 4 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Mirror the gitee/openharmony org repos to github/openharmony-gitee-mirror.
      uses: Yikun/hub-mirror-action@master
      with:
        src: gitee/openharmony
        dst: github/openharmony-gitee-mirror
        dst_key: ${{ secrets.SYNC_EG_PRIVATE_KEY }}
        dst_token:  ${{ secrets.SYNC_EG_TOKEN }}
        #static_list: 'installer'
        account_type: org
        clone_style: ssh
        force_update: true
        black_list: "community"
